---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Banner from "../../assets/high-tide-aviation-team-of-cfis.jpg";
import { Image } from "astro:assets";
import Intro from "../../assets/our-team-intro.jpg";
import { team } from "../../data/team";
import TeamMemberCard from "../../components/TeamMemberCard.astro";
import StatCard from "../../components/StatCard.astro";
import { stats } from "../../data/stats";
import TopView from "../../assets/top-view.jpg";
---

<BaseLayout
  siteTitle="Our Story & Team"
  siteDescription="Meet the dedicated team of professionals at High Tide Aviation in Southport, NC. Our experienced pilots and instructors are committed to providing top-notch flight training."
  siteKeywords="High Tide Aviation team, flight instructors Southport NC, aviation professionals Southeast Coast, experienced pilots High Tide, aviation staff Southport NC."
>
  <Header slot="header" image={Banner} title="Get to Know High Tide Aviation" />

  <section class="py-24 px-5">
    <div
      class="max-w-xl gap-10 lg:max-w-7xl mx-auto flex flex-col lg:flex-row items-center lg:gap-20"
    >
      <div class="flex-1 relative">
        <Image class="pr-6" src={Intro} alt="High Tide Aviation team" />
        <div
          class="h-3/4 bg-mustard-yellow absolute -z-10 -right-0 w-20 top-[12.5%]"
        >
        </div>
      </div>
      <div class="flex flex-col flex-1">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          About High Tide Aviation
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          The High Tide Story
        </h3>
        <p class="text-gray-500 leading-relaxed mt-3 mb-2">
          High Tide Aviation offers fixed-wing training and helicopter flight
          training at both Cape Fear Regional Jetport in Southport, NC, and
          McKinnon St. Simons Island Airport in Georgia. We specialize in a
          diverse array of pilot training programs, including commercial
          licenses, instrument ratings, and flight instruction for both
          airplanes and helicopters.
        </p>
        <p class="text-gray-500 leading-relaxed mb-5">
          What sets High Tide Aviation apart is our focus on student support,
          underscored by our dedicated Training Support Specialist who offers
          personalized, one-on-one assistance throughout your training journey.
          Discover the scenic coastlines of North Carolina or Georgia with an
          introductory flight, or visit our premier flight schools to see
          firsthand why we excel in pilot training. Call today to book a tour or
          start your zero-to-hero flight training program.
        </p>
        <div class="flex flex-col sm:flex-row items-center gap-5">
          <a
            href="#the-team"
            class="block font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-mustard-yellow duration-300"
          >
            Meet the Team
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="text-white mx-auto grid sm:grid-cols-2 lg:grid-cols-4">
    {
      stats.map((stat) => (
        <StatCard
          icon={stat.icon}
          value={stat.value}
          title={stat.title}
          cssVariable={stat.cssVariable}
        />
      ))
    }
  </section>

  <section class="py-24 px-5 scroll-my-20" id="the-team">
    <div
      class="max-w-xl gap-10 lg:max-w-7xl mx-auto flex flex-col lg:flex-row-reverse items-center lg:gap-20"
    >
      <div class="flex-1 relative">
        <Image class="pr-6" src={Banner} alt="High Tide Aviation team" />
        <div
          class="h-3/4 bg-mustard-yellow absolute -z-10 -right-0 w-20 top-[12.5%]"
        >
        </div>
      </div>
      <div class="flex flex-col flex-1">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Our elite instruction team
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Meet the High Tide Family
        </h3>
        <p class="text-gray-500 leading-relaxed mt-3 mb-2">
          At High Tide Aviation, we pride ourselves on having a highly skilled
          and passionate team of aviation professionals. Our instructors hold a
          diverse range of certifications, including CFI (Certified Flight
          Instructor), CFII (Certified Flight Instructor - Instrument), and MEI
          (Multi-Engine Instructor), ensuring that we can offer a wide array of
          training services tailored to your needs. Whether you are just
          starting out on your aviation journey or looking to advance your
          skills, our team is here to guide you every step of the way.
        </p>
        <p class="text-gray-500 leading-relaxed mb-5">
          We invite you to visit us and meet our team in person at our two
          locations in Southport, NC, and St. Simons Island, GA. Each location
          offers a unique atmosphere and a variety of training opportunities to
          enhance your flying experience. Reach out to us today to schedule your
          visit and take the first step towards reaching new heights with High
          Tide Aviation!
        </p>
        <div class="flex flex-col sm:flex-row items-center gap-5">
          <a
            href="/contact-us"
            class="block font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-mustard-yellow duration-300"
          >
            Visit High Tide
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="the-team" class="py-24 px-5 bg-light-blue/10 scroll-my-20">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        The Leadership Team
      </h2>
      <h3 class="text-5xl text-dark-blue font-bold leading-tight mb-5">
        High Tide’s Front Office
      </h3>
      <div class="grid gap-5 lg:grid-cols-3 mt-5">
        {
          team.map((member) => (
            <TeamMemberCard
              name={member.name}
              qualifications={member.qualifications}
              imagePath={member.imagePath}
              bio={member.bio}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        High Tide Flight Instructors
      </h2>
      <h3 class="text-5xl text-dark-blue font-bold leading-tight mb-5">
        Meet Our Instructors
      </h3>
      <div class="grid gap-5 lg:grid-cols-3 mt-5">
        {
          team.map((member) => (
            <TeamMemberCard
              name={member.name}
              qualifications={member.qualifications}
              imagePath={member.imagePath}
              bio={member.bio}
            />
          ))
        }
      </div>
    </div>
  </section> -->

  <section class="flex flex-col md:flex-row bg-mustard-yellow xl:max-h-[32rem]">
    <div class="flex-1 flex flex-col justify-center px-5 py-16">
      <div class="max-w-xl mx-auto md:ml-auto md:mr-16">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Interested in flying?
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Come try it out with an Intro Flight at High Tide Aviation
        </h3>
        <p class="text-gray-600 my-10">
          Flying can be daunting task; manning the controls even more so. If you
          want to see what it’s like to be in the pilot’s seat, come visit us
          for an introductory flight where we’ll show you the ropes and see if
          flying is the right choice for you.
        </p>
        <a
          href="/intro-flight"
          class="block font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-white hover:text-dark-blue cursor-pointer duration-300"
        >
          Request an Intro Flight
        </a>
      </div>
    </div>
    <div class="flex-1">
      <Image
        src={TopView}
        alt="View from the top of the airplane"
        class="w-full h-full object-cover"
        quality={10}
      />
    </div>
  </section>
</BaseLayout>
