---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Banner from "../../assets/high-tide-aviation-front-sign-in-southport-nc.jpg";
import { Image } from "astro:assets";
import Intro from "../../assets/financing-intro.jpg";
import { financialOptions } from "../../data/financialOptions";
import FinancialOptionCard from "../../components/FinancialOptionCard.astro";
import { RiTeamLine } from "react-icons/ri";
import { BiNetworkChart } from "react-icons/bi";
import { GiPayMoney } from "react-icons/gi";
import { latestPosts } from "../../data/latestPosts";
import BlogPostCard from "../../components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout siteTitle="The High Tide Blog">
  <Header slot="header" image={Banner} title="The High Tide Blog" />

  <section class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        From the Blog Posts
      </h2>
      <h3
        class="text-5xl font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        Checkout latest aviation news and articles
      </h3>
      <div class="grid md:grid-cols-3 mt-10 gap-7">
        {
          latestPosts.map((post) => (
            <BlogPostCard
              imagePath={post.imagePath}
              title={post.title}
              date={post.date}
            />
          ))
        }
      </div>
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-7">
        {
          posts.map((post) => (
            <BlogPostCard
              imagePath={post.data.heroImage}
              title={post.data.title}
              date={post.data.pubDate}
              blogUrl={`/blog/${post.slug}/`}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
