---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Banner from "../../assets/high-tide-aviation-front-sign-in-southport-nc.jpg";
import BlogPostCard from "../../components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
  siteTitle="The High Tide Newsroom | High Tide Aviation"
  siteDescription="Stay updated with the latest aviation news, tips, and insights on the High Tide Aviation Blog. Whether you're looking for information on pilot training, aircraft maintenance, or the best flying destinations in Southport, St Simons Island, Wallace, and beyond, our blog is your go-to resource for all things aviation. Join us for expert advice, industry updates, and helpful guides for aspiring pilots and aviation enthusiasts."
  siteKeywords="aviation blog, pilot training tips, helicopter training, flight school Southport, St Simons Island aviation, Wallace NC flying, aviation news, commercial pilot training, private pilot tips, flight instructor training, aviation resources, helicopter pilot training, flying in coastal Georgia, FAA certification, aviation education, flying destinations, aviation industry updates"
>
  <Header
    slot="header"
    image={Banner}
    title="The High Tide Newsroom"
    alt="High Tide Aviation front sign in Southport, NC"
  />

  <section class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        News and Pilot Resources
      </h2>
      <h3
        class="text-5xl font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        Read the latest from High Tide
      </h3>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 mt-10 gap-7">
        {
          posts.map((post) => (
            <BlogPostCard
              imagePath={post.data.heroImage}
              title={post.data.title}
              date={post.data.pubDate}
              blogUrl={post.data.url || `/blog/${post.slug}/`}
              description={post.data.description}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
