---
import HomepageHeader from "../components/HomepageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { TbAward } from "react-icons/tb";
import { BsAirplaneEngines } from "react-icons/bs";
import { FaRegStar } from "react-icons/fa6";
import { FaPhoneAlt } from "react-icons/fa";
import { Image } from "astro:assets";
import Feature2 from "../assets/student-getting-ready-to-fly.jpg";
import Feature3 from "../assets/couple-visiting-high-tide-aviation.jpg";
import { PHONE_NUMBER } from "../consts.ts";
import { flightPrograms } from "../data/flightPrograms";
import FlightProgramCard from "../components/FlightProgramCard.astro";
import { IoIosArrowForward } from "react-icons/io";
import { IoBookOutline } from "react-icons/io5";
import Ebook from "../components/Ebook.astro";
import { stats } from "../data/stats.js";
import TopView from "../assets/top-view.jpg";
import BlogPostCard from "../components/BlogPostCard.astro";
import ReviewsCarousel from "../components/ReviewsCarousel";
import StudentSupport from "../assets/student-support.jpg";
import { getCollection } from "astro:content";
import CounterCard from "../components/CounterCard.jsx";
import ToursCTA from "../components/ToursCTA.astro";
import { TbUserScreen } from "react-icons/tb";
import AnnouncementBanner from "../components/AnnouncementBanner.astro";
import ScreenBanner from "../components/ScreenBanner.astro";
import DonationBanner from "../components/DonationBanner.astro";
import NewsletterCTA from "../components/NewsletterCTA.astro";
import Quiz from "../components/Quiz.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
  siteTitle="The Southeast Shores' Leading Pilot Training Center in Southport, St. Simons, and Wilmington | High Tide Aviation"
  siteDescription="High Tide Aviation offers premier flight training programs in Southport, St. Simons Island, and Wilmington. Whether you're aspiring to be a private pilot, commercial pilot, flight instructor, or earn advanced ratings, our experienced instructors and state-of-the-art aircraft provide the hands-on training you need to succeed in the skies. Join our aviation community and start your journey to becoming a skilled, certified pilot. Explore our comprehensive courses and enroll today."
  siteKeywords="High Tide Aviation, pilot training, flight school, aviation training, commercial pilot training, private pilot certification, flight instructor training, helicopter training, aviation services, aviation resources, aviation blog, pilot education, flight school programs, aviation training programs"
>
  <HomepageHeader slot="header" />

  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Sign Up Now"
    url="https://ce.coastalpines.edu/search/publicCourseSearchDetails.do?method=load&courseId=1020462"
  /> -->

  <!-- <DonationBanner
    btnId="dismiss-button"
    btnTitle="Sign Up Now"
    url="https://ce.coastalpines.edu/search/publicCourseSearchDetails.do?method=load&courseId=1020462"
  /> -->

  <section id="home-menu" class="py-16 bg-mustard-yellow px-5 scroll-my-20">
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 max-w-7xl mx-auto gap-10">
      <a
        href="/first-time-pilots"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <BsAirplaneEngines className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          New to Flying
        </p>
      </a>
      <a
        href="#ebook"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <IoBookOutline className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          Becoming a Pilot eBook
        </p>
      </a>
      <a
        href="#reviews"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <FaRegStar className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          Student Reviews
        </p>
      </a>
      <a
        href="/flight-simulator"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <TbUserScreen className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          Fly the Redbird Simulator
        </p>
      </a>
    </div>
  </section>

  <section id="why-high-tide" class="py-24 px-5 scroll-my-20">
    <div
      class="max-w-xl gap-10 lg:max-w-7xl mx-auto flex flex-col lg:flex-row items-center lg:gap-10"
    >
      <div class="flex flex-col flex-1">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Why High Tide?
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Welcome to High Tide Aviation!
        </h3>
        <p class="text-gray-500 leading-relaxed mt-5">
          High Tide Aviation offers flight schools and training facilities at
          Cape Fear Regional Jetport (KSUT) in Southport, NC; McKinnon St.
          Simons Island Airport (KSSI) on St Simons Island, GA; and Wilmington
          International Airport (ILM) in Wilmington, NC. Specializing in both
          airplane and helicopter training, we provide professional pilot
          training for commercial licenses, instrument ratings, helicopters,
          flight instruction, and more. Pursue your aviation dreams through our
          zero-to-hero flight training programs.
        </p>
        <p class="font-medium mb-5 mt-2 text-gray-600">
          Book an intro flight over North Carolina or Georgia’s scenic
          coastlines, or call to tour our premier flight schools at either
          location today!
        </p>

        <div class="flex flex-col sm:flex-row items-center gap-5">
          <a href="/intro-flight" target="_blank" class="btn-blue">
            Book Now
          </a>
          <div class="flex items-center gap-3">
            <a
              href=`tel:${PHONE_NUMBER}`
              aria-label="Call High Tide Aviation"
              class="group border p-4 border-mustard-yellow rounded-full hover:bg-mustard-yellow hover:border-white duration-300 cursor-pointer"
            >
              <FaPhoneAlt
                className="size-5 group-hover:text-white text-mustard-yellow duration-300"
              />
            </a>
            <div class="flex flex-col">
              <p class="text-sm text-gray-500 uppercase tracking-widest">
                Call Anytime
              </p>
              <a
                href=`tel:${PHONE_NUMBER}`
                aria-label="Call High Tide Aviation for more information"
                class="font-medium text-lg text-dark-blue hover:text-mustard-yellow duration-300"
                >{PHONE_NUMBER}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 w-full">
        <div
          style="height: 0px; overflow: hidden; padding-top: 56.25%; position: relative; width: 100%;"
        >
          <iframe
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
            src="https://tube.rvere.com/embed?v=2jVkLit8I4k"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="py-16 px-5 bg-mustard-yellow scroll-my-20">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2
        class="uppercase text-medium-blue font-bold tracking-widest text-center"
      >
        Our Newest Location at ILM
      </h2>
      <h3
        class="text-3xl md:text-5xl font-bold leading-tight text-dark-blue text-center max-w-4xl"
      >
        High Tide Aviation is now open at Wilmington International Airport (ILM)
      </h3>
      <div class="flex gap-8">
        <a
          href="https://www.flightcircle.com/shop/5c9443ea346a/4000017965"
          class="btn-blue hover:bg-white mt-5"
          target="_blank"
        >
          Book a Discovery Flight at Wilmington
        </a>
      </div>
    </div>
  </section>

  <section class="py-24 px-5 scroll-my-20 bg-medium-blue/10">
    <div
      class="max-w-xl gap-10 lg:max-w-7xl mx-auto flex flex-col-reverse lg:flex-row items-center lg:gap-10"
    >
      <div class="flex-1">
        <Image
          src={StudentSupport}
          alt="Student getting ready to fly"
          class="object-cover top-0 left-0 -z-10 max-h-96"
          quality={10}
        />
      </div>
      <div class="flex flex-col flex-1">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Student Support Specialist
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Personalized Guidance at High Tide
        </h3>
        <p class="text-gray-500 leading-relaxed mt-5">
          As such a specialized skill, flight training can be confusing on even
          its best day. We understand that each student comes to us with
          different learning preferences and a diverse range of experiences. To
          better support our students, we have an in-house Student Support
          Department and assign a specific support specialist to every High Tide
          student in Southport, St Simons Island, and Wilmington.
        </p>
        <p class="font-medium mb-5 mt-2 text-gray-600">
          Contact us today and receive tailored flight instruction at High Tide
          Aviation.
        </p>

        <div class="flex flex-col sm:flex-row items-center gap-5">
          <a href="/contact-us" class="btn-blue"> Contact Us </a>
        </div>
      </div>
    </div>
  </section>

  <section id="new-to-flying" class="py-24 px-5 scroll-my-20">
    <div class="max-w-xl lg:max-w-7xl mx-auto">
      <div class="flex flex-col lg:flex-row gap-10">
        <div
          class="flex flex-col lg:flex-1 p-12 bg-gradient-to-tr text-white from-dark-blue to-mustard-yellow to-90% from-20% via-medium-blue"
        >
          <h2 class="uppercase tracking-widest font-semibold text-white/70">
            New to Flying
          </h2>
          <h3 class="text-3xl font-bold">Become a Pilot with High Tide</h3>
          <p class="py-8 leading-loose text-white/70">
            We pride ourselves at High Tide Aviation for our dedication to
            guiding students confidently through every step of their training
            journey. Our Training Support Specialist will introduce you to our
            various training programs including PPL through CFII, Multi-Engine,
            and Helicopter, tailored to your learning speed and location.
          </p>
          <a href="/enrollment-form" class="btn-white"> Enroll Now </a>
        </div>
        <a
          href="/about/fleet-rentals"
          class="flex flex-col group overflow-hidden min-h-[28rem] lg:flex-1 gap-5 justify-end bg-gradient-to-t to-40% from-medium-blue p-12 relative text-white"
        >
          <Image
            src={Feature2}
            alt="Student getting ready to fly"
            class="absolute w-full h-full object-cover top-0 left-0 -z-10 group-hover:scale-110 duration-300"
            quality={10}
          />
          <h3 class="text-3xl font-bold">Meet Our Fleet</h3>
        </a>
        <a
          href="/contact-us"
          class="flex flex-col group overflow-hidden min-h-[28rem] lg:flex-1 gap-5 justify-end bg-gradient-to-t to-40% from-medium-blue p-12 relative text-white"
        >
          <Image
            src={Feature3}
            alt="Couple visiting High Tide Aviation"
            class="absolute w-full h-full object-cover top-0 left-0 -z-10 group-hover:scale-110 duration-300"
            quality={10}
          />
          <h3 class="text-3xl font-bold">Visit High Tide Aviation</h3>
        </a>
      </div>
    </div>
  </section>

  <Ebook />

  <section class="py-24 px-5">
    <div class="max-w-[95rem] mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Any Level, Any Time
      </h2>
      <h3 class="text-5xl font-bold leading-tight text-dark-blue text-center">
        Pilot Training Programs
      </h3>
      <div class="grid sm:grid-cols-2 lg:grid-cols-4 mt-10 gap-7">
        {
          flightPrograms.map((program) => (
            <FlightProgramCard
              imagePath={program.imagePath}
              heading={program.heading}
              subheading={program.subheading}
              description={program.description}
              url={program.url}
            />
          ))
        }
      </div>
      <a
        href="/flight-training/ground-school"
        class="flex items-center gap-3 btn-blue"
      >
        <p>View all training programs</p>
        <IoIosArrowForward className="text-xl" />
      </a>
    </div>
  </section>

  <NewsletterCTA />

  <section class="text-white mx-auto grid sm:grid-cols-2 lg:grid-cols-4">
    {
      stats.map((stat) => (
        <CounterCard
          client:only="react"
          icon={stat.icon}
          value={stat.value}
          title={stat.title}
        />
      ))
    }
  </section>

  <section id="reviews" class="py-24 px-5 bg-light-blue/10 scroll-my-20">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Student Feedback
      </h2>
      <h3
        class="text-5xl mb-10 font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        High Marks for High Tide
      </h3>
      <ReviewsCarousel client:visible />
    </div>
  </section>

  <section class="flex flex-col md:flex-row bg-mustard-yellow xl:max-h-[36rem]">
    <div class="flex-1 flex flex-col justify-center px-5 py-16">
      <div class="max-w-xl mx-auto md:ml-auto md:mr-16">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Interested in flying?
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Come try it out with an Intro Flight at High Tide Aviation
        </h3>
        <p class="text-gray-600 my-10">
          Flying can be daunting task; manning the controls even more so. If you
          want to see what it’s like to be in the pilot’s seat, come visit us
          for an introductory flight where we’ll show you the ropes and see if
          flying is the right choice for you.
        </p>
        <div class="flex flex-col gap-3">
          <a
            href="/intro-flight"
            target="_blank"
            class="btn-blue hover:bg-white"
          >
            Book an Intro Flight
          </a>
          <a href="#toursCTA" class="btn-white"> Book a School Tour </a>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <Image
        src={TopView}
        alt="View from the top of the airplane looking down at the ocean"
        class="w-full h-full object-cover"
        quality={10}
      />
    </div>
  </section>

  <Quiz />

  <section class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        From the Blog Posts
      </h2>
      <h3
        class="text-5xl font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        Checkout latest aviation news and articles
      </h3>
      <div class="grid lg:grid-cols-3 mt-10 gap-7">
        {
          posts
            .slice(0, 3)
            .map((post) => (
              <BlogPostCard
                imagePath={post.data.heroImage}
                title={post.data.title}
                date={post.data.pubDate}
                blogUrl={post.data.url || `/blog/${post.slug}/`}
                description={post.data.description}
              />
            ))
        }
      </div>
    </div>
  </section>

  <ToursCTA />
</BaseLayout>
