---
import HomepageHeader from "../components/HomepageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { TbAward } from "react-icons/tb";
import { BsAirplaneEngines } from "react-icons/bs";
import { MdOutlineQuiz } from "react-icons/md";
import { IoBookOutline } from "react-icons/io5";
import { FaRegStar } from "react-icons/fa6";
import { FaPhoneAlt } from "react-icons/fa";
import { Image } from "astro:assets";
import Feature2 from "../assets/feature-2.jpg";
import Feature3 from "../assets/feature-3.jpg";
import Thumbnail from "../assets/video-thumbnail.webp";
import { PHONE_NUMBER } from "../consts.ts";
import { flightPrograms } from "../data/flightPrograms";
import FlightProgramCard from "../components/FlightProgramCard.astro";
import { IoIosArrowForward } from "react-icons/io";
import { stats } from "../data/stats.js";
import StatCard from "../components/StatCard.astro";
import ReviewCard from "../components/ReviewCard.astro";
import { reviews } from "../data/reviews.js";
import TopView from "../assets/top-view.jpg";
import BlogPostCard from "../components/BlogPostCard.astro";
import { latestPosts } from "../data/latestPosts.js";
import ReviewsCarousel from "../components/ReviewsCarousel";
---

<BaseLayout>
  <HomepageHeader slot="header" />

  <section id="home-menu" class="py-16 bg-mustard-yellow px-5 scroll-my-20">
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 max-w-7xl mx-auto gap-10">
      <a
        href="#why-high-tide"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <TbAward className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          Why High Tide
        </p>
      </a>
      <a
        href="/first-time-pilots"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <BsAirplaneEngines className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          New to Flying
        </p>
      </a>
      <a
        href="#quiz"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <MdOutlineQuiz className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          Pilot Readiness Quiz
        </p>
      </a>
      <a
        href="#reviews"
        class="border border-white/50 py-8 px-12 flex flex-col gap-5 hover:bg-white duration-700 group cursor-pointer"
      >
        <FaRegStar className="size-14 text-medium-blue" />
        <p
          class="text-lg text-dark-blue uppercase font-semibold tracking-widest duration-700"
        >
          Student Reviews
        </p>
      </a>
    </div>
  </section>

  <section id="why-high-tide" class="py-24 px-5 scroll-my-20">
    <div
      class="max-w-xl gap-10 lg:max-w-7xl mx-auto flex flex-col lg:flex-row items-center lg:gap-10"
    >
      <div class="flex flex-col flex-1">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Why High Tide?
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Welcome to High Tide Aviation!
        </h3>
        <p class="text-gray-500 leading-relaxed mt-5">
          High Tide Aviation offers flight schools and training facilities at
          both Cape Fear Regional Jetport in Southport, NC, and McKinnon St.
          Simons Island Airport on St. Simons Island, Georgia. Specializing in
          both airplane and helicopter training, we provide professional pilot
          training for commercial licenses, instrument ratings, helicopters,
          flight instruction, and more. Pursue your aviation dreams through our
          zero-to-hero flight training programs.
        </p>
        <p class="font-medium mb-5 mt-2 text-gray-600">
          Book an intro flight over North Carolina or Georgia’s scenic
          coastlines, or call to tour our premier flight schools at either
          location today!
        </p>

        <div class="flex flex-col sm:flex-row items-center gap-5">
          <a
            href="/intro-flight"
            target="_blank"
            class="block font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-mustard-yellow duration-300"
          >
            Book Now
          </a>
          <div class="flex items-center gap-3">
            <a
              href=`tel:${PHONE_NUMBER}`
              class="group border p-4 border-mustard-yellow rounded-full hover:bg-mustard-yellow hover:border-white duration-300 cursor-pointer"
            >
              <FaPhoneAlt
                className="size-5 group-hover:text-white text-mustard-yellow duration-300"
              />
            </a>
            <div class="flex flex-col">
              <p class="text-sm text-gray-500 uppercase tracking-widest">
                Call Anytime
              </p>
              <a
                href=`tel:${PHONE_NUMBER}`
                class="font-medium text-lg text-dark-blue hover:text-mustard-yellow duration-300"
                >{PHONE_NUMBER}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 w-full">
        <div
          style="height: 0px; overflow: hidden; padding-top: 56.25%; position: relative; width: 100%;"
        >
          <iframe
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
            src="https://tube.rvere.com/embed?v=2jVkLit8I4k"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </section>

  <section id="new-to-flying" class="py-24 px-5 scroll-my-20">
    <div class="max-w-xl lg:max-w-7xl mx-auto">
      <div class="flex flex-col lg:flex-row gap-10">
        <div
          class="flex flex-col lg:flex-1 p-12 bg-gradient-to-tr text-white from-dark-blue to-mustard-yellow to-90% from-20% via-medium-blue"
        >
          <h2 class="uppercase tracking-widest font-semibold text-white/70">
            New to Flying
          </h2>
          <h3 class="text-3xl font-bold">Become a Pilot with High Tide</h3>
          <p class="py-8 leading-loose text-white/70">
            We pride ourselves at High Tide Aviation for our dedication to
            guiding students confidently through every step of their training
            journey. Our Training Support Specialist will introduce you to our
            various training programs including PPL through CFII, Multi-Engine,
            and Helicopter, tailored to your learning speed and location.
          </p>
          <a
            href="/enrollment-form"
            class="block font-medium uppercase py-4 px-14 bg-white w-fit rounded-full text-dark-blue hover:bg-medium-blue hover:text-white duration-300"
          >
            Enroll Now
          </a>
        </div>
        <a
          href="/about/fleet-rentals"
          class="flex flex-col group overflow-hidden min-h-[28rem] lg:flex-1 gap-5 justify-end bg-gradient-to-t to-40% from-medium-blue p-12 relative text-white"
        >
          <Image
            src={Feature2}
            alt="Feature 2"
            class="absolute w-full h-full object-cover top-0 left-0 -z-10 group-hover:scale-110 duration-300"
            quality={10}
          />
          <h3 class="text-3xl font-bold">Meet Our Fleet</h3>
        </a>
        <a
          href="/contact-us"
          class="flex flex-col group overflow-hidden min-h-[28rem] lg:flex-1 gap-5 justify-end bg-gradient-to-t to-40% from-medium-blue p-12 relative text-white"
        >
          <Image
            src={Feature3}
            alt="Feature 3"
            class="absolute w-full h-full object-cover top-0 left-0 -z-10 group-hover:scale-110 duration-300"
            quality={10}
          />
          <h3 class="text-3xl font-bold">Visit High Tide Aviation</h3>
        </a>
      </div>
    </div>
  </section>

  <!-- <section id="ebook" class="scroll-my-24">
    <div class="py-24 px-5 text-white bg-dark-blue relative overflow-hidden">
      <IoBookOutline
        className="size-[40rem] right-16 top-0 text-white/10 absolute"
      />
      <div class="max-w-xl lg:max-w-7xl mx-auto relative z-10">
        <h2 class="uppercase text-mustard-yellow font-bold tracking-widest">
          Free eBook
        </h2>
        <h3 class="text-5xl font-bold leading-tight">
          Get Your FREE Quick Start Guide
        </h3>
        <div class="max-w-3xl grid lg:grid-cols-2 gap-5 my-10">
          <input
            class="bg-[#00215D] text-white/70 py-4 px-6 w-full outline-none placeholder:text-white/50"
            type="text"
            name="first-name"
            id="first-name"
            placeholder="First Name"
          />
          <input
            class="bg-[#00215D] text-white/70 py-4 px-6 w-full outline-none placeholder:text-white/50"
            type="text"
            name="last-name"
            id="last-name"
            placeholder="Last Name"
          />
          <input
            class="bg-[#00215D] text-white/70 py-4 px-6 w-full outline-none placeholder:text-white/50"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
          <input
            class="bg-[#00215D] text-white/70 py-4 px-6 w-full outline-none placeholder:text-white/50"
            type="tel"
            name="phone"
            id="phone"
            placeholder="Phone"
          />
        </div>
        <a
          href="#"
          class="block uppercase py-4 px-14 bg-mustard-yellow w-fit rounded-full hover:bg-medium-blue duration-300 font-medium"
          >Download Now</a
        >
      </div>
    </div>
  </section> -->

  <section id="quiz" class="scroll-my-24">
    <div class="py-24 px-5 text-white bg-dark-blue relative overflow-hidden">
      <MdOutlineQuiz
        className="size-[40rem] right-16 -top-8 text-white/10 absolute"
      />
      <div class="max-w-xl lg:max-w-7xl mx-auto relative z-10">
        <div class="max-w-3xl">
          <h2 class="uppercase text-mustard-yellow font-bold tracking-widest">
            Become a Pilot
          </h2>
          <h3 class="text-5xl font-bold leading-tight">
            Are You Ready to Become a Pilot?
          </h3>
          <p class="text-white/70 leading-loose my-5">
            Do you ever wonder what it takes to be a pilot? Sometimes, the
            thought of flight training is exhilarating but comes with nerves
            toward getting started. We understand that flight training may be
            daunting to some, so we have put together a readiness quiz for you
            to see what becoming a pilot is like at High Tide Aviation. Whether
            in Southport, North Carolina, or St. Simons Island, Georgia, we hope
            this quiz helps assuage any doubts about starting your path toward
            becoming a pilot!
          </p>
          <a
            href="/quiz-form"
            class="block uppercase py-4 px-14 bg-mustard-yellow w-fit rounded-full hover:bg-medium-blue duration-300 font-medium"
            >Take the Quiz</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="py-24 px-5">
    <div class="max-w-[95rem] mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Any Level, Any Time
      </h2>
      <h3 class="text-5xl font-bold leading-tight text-dark-blue text-center">
        Pilot Training Programs
      </h3>
      <div class="grid sm:grid-cols-2 lg:grid-cols-4 mt-10 gap-7">
        {
          flightPrograms.map((program) => (
            <FlightProgramCard
              imagePath={program.imagePath}
              heading={program.heading}
              subheading={program.subheading}
              description={program.description}
              url={program.url}
            />
          ))
        }
      </div>
      <a
        href="/flight-training/ground-school"
        class="flex items-center gap-3 font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-mustard-yellow duration-300"
      >
        <p>View all training programs</p>
        <IoIosArrowForward className="text-xl" />
      </a>
    </div>
  </section>

  <section class="px-5 text-white">
    <div class="max-w-sm md:max-w-7xl mx-auto grid md:grid-cols-4">
      {
        stats.map((stat) => (
          <StatCard
            icon={stat.icon}
            value={stat.value}
            title={stat.title}
            cssVariable={stat.cssVariable}
          />
        ))
      }
    </div>
  </section>

  <section id="reviews" class="py-24 px-5 bg-light-blue/10 scroll-my-20">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Student Feedback
      </h2>
      <h3
        class="text-5xl mb-10 font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        High Marks for High Tide
      </h3>
      <ReviewsCarousel client:visible />
    </div>
  </section>

  <section class="flex flex-col md:flex-row bg-mustard-yellow xl:max-h-[32rem]">
    <div class="flex-1 flex flex-col justify-center px-5 py-16">
      <div class="max-w-xl mx-auto md:ml-auto md:mr-16">
        <h2 class="uppercase text-medium-blue font-bold tracking-widest">
          Interested in flying?
        </h2>
        <h3 class="text-5xl text-dark-blue font-bold leading-tight">
          Come try it out with an Intro Flight at High Tide Aviation
        </h3>
        <p class="text-gray-600 my-10">
          Flying can be daunting task; manning the controls even more so. If you
          want to see what it’s like to be in the pilot’s seat, come visit us
          for an introductory flight where we’ll show you the ropes and see if
          flying is the right choice for you.
        </p>
        <a
          href="/intro-flight"
          target="_blank"
          class="block font-medium uppercase py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-white hover:text-dark-blue cursor-pointer duration-300"
        >
          Request an Intro Flight
        </a>
      </div>
    </div>
    <div class="flex-1">
      <Image
        src={TopView}
        alt="View from the top of the airplane"
        class="w-full h-full object-cover"
        quality={10}
      />
    </div>
  </section>

  <section class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        From the Blog Posts
      </h2>
      <h3
        class="text-5xl font-bold leading-tight text-dark-blue text-center max-w-xl"
      >
        Checkout latest aviation news and articles
      </h3>
      <div class="grid md:grid-cols-3 mt-10 gap-7">
        {
          latestPosts.map((post) => (
            <BlogPostCard
              imagePath={post.imagePath}
              title={post.title}
              date={post.date}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="py-16 px-5 bg-mustard-yellow">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Book Your Flight Today
      </h2>
      <h3
        class="text-5xl font-bold leading-tight text-dark-blue text-center max-w-2xl"
      >
        Ready to start your journey with High Tide Aviation?
      </h3>
      <a
        href="/contact-us"
        class="block font-medium uppercase text-center mt-5 py-4 px-14 bg-dark-blue w-fit rounded-full text-white hover:bg-white hover:text-dark-blue cursor-pointer duration-300"
      >
        Schedule a call with us today!
      </a>
    </div>
  </section>
</BaseLayout>
