---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../assets/cessna-172-flying-over-st-simons-island.jpg";
import DiscoveryFlightCard from "../components/DiscoveryFlightCard.astro";
import { locations } from "../data/locations";
import ToursCTA from "../components/ToursCTA.astro";
import LocationCard from "../components/LocationCard.astro";
---

<BaseLayout
  siteTitle="Schedule a Visit at High Tide | High Tide Aviation"
  siteDescription="Visit High Tide Aviation for a personalized tour of our facilities and aircraft. Our team will guide you through the training process, answer your questions, and help you understand what it takes to become a pilot. Whether you're interested in flight training or just want to learn more about aviation, we welcome you to schedule a visit today."
  siteKeywords="Introductory flight Southport, St Simons Island flight experience, Wallace NC intro flight, discover flying, pilot intro lesson, learn to fly, aviation experience, first flight lesson, flying lesson Southport, intro flight training, intro to aviation, High Tide Aviation flight experience, private pilot intro flight"
>
  <Header
    slot="header"
    image={Banner}
    title="Schedule a FREE School Tour at High Tide"
    alt="Cessna 172 flying over St Simons Island"
  />

  <section class="py-16 px-5">
    <div class="flex flex-col items-center">
      <h2 class="uppercase text-medium-blue font-bold tracking-widest">
        Location Selection
      </h2>
      <h3 class="text-5xl text-center text-dark-blue font-bold leading-tight">
        Choose The School Location You'd Like to Visit
      </h3>
    </div>

    <div
      class="grid gap-8 mt-5 max-w-xs sm:grid-cols-2 sm:max-w-2xl lg:grid-cols-3 lg:max-w-7xl mx-auto"
    >
      {
        locations.map((location) => (
          <LocationCard
            name={location.name}
            price={location.price}
            imagePath={location.imagePath}
            location={location.location}
            url={location.url}
          />
        ))
      }
    </div>
  </section>

  <ToursCTA />
</BaseLayout>
