---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
  keywords: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "/src/assets/high-tide-aviation-logo-on-plane-tail.jpg",
  keywords,
} = Astro.props;
---

<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/high-tide-icon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M7S5SBC1X0"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-M7S5SBC1X0");
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-718919118"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "AW-718919118");
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "High Tide Aviation",
    "description": "Join the Southeast Coast's leading airplane and helicopter training center. High Tide Aviation in Southport, NC, and St Simons Island, GA, offers premier flight training across the southeastern coast.",
    "keywords": "Southeast Coast flight training, Southport NC pilot school, St Simons Island GA flight instruction, airplane training Southeast, helicopter lessons Southeast Coast",
    "image": "https://hightideaviation.com/_astro/high-tide-aviation-logo-on-plane-tail.DZX66giY_2aTkJx.webp",
    "logo": "https://yt3.ggpht.com/E3oQ5bEChwWVkTnW3xwe8JGnTj0qdE3y62dNvKPQdElTD_1aEiqkAPYRZVGB6jwCPzZuLE5I=s400-c-k-c0x00ffffff-no-rj",
    "telephone": "(910) 294-5871",
    "email": "trainingsupport@flyhightide.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "4345 Airport Rd SE",
      "addressLocality": "Southport",
      "addressRegion": "NC",
      "addressCountry": "US",
      "postalCode": "28461"
    },
    "currenciesAccepted": "USD",
    "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover, Checks",
    "areaServed": {
      "@type": "GeoCircle",
      "geoMidpoint": {
        "@type": "GeoCoordinates",
        "latitude": 33.9380185501251,
        "longitude": -78.06461845767217
      },
      "geoRadius": 9000
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "14"
    },
    "url": "https://hightideaviation.com/",
    "priceRange": "$",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 33.9380185501251,
      "longitude": -78.06461845767217
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday"],
        "opens": "10:00",
        "closes": "17:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Friday", "Saturday"],
        "opens": "10:00",
        "closes": "18:00"
      }
    ],
    "hasMap": "https://www.google.com/maps/place/4345+Airport+Rd+SE,+Southport,+NC+28461",
    "photo": [
      {
        "@type": "ImageObject",
        "url": "https://hightideaviation.com/_astro/high-tide-aviation-logo-on-plane-tail.DZX66giY_2aTkJx.webp",
        "description": "High Tide Aviation Logo on Plane Tail"
      }
    ],
    "tourBookingPage": [
      "https://flyhightide.com/",
      "https://hightideaviation.com/intro-flight/"
    ],
    "makesOffer": {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "serviceType": "Flight Instruction"
      },
      "priceCurrency": "USD",
      "price": "Varies"
    },
    "memberOf": {
      "@type": "Organization",
      "name": "Cessna Pilot Center"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Jake B."
        },
        "reviewBody": "I earned my private pilot license through High Tide out of St Simons Island, GA. They are an excellent program with a great cadre of instructors. I am very thankful to have had such a great team to help me start this journey into aviation!"
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Towns S."
        },
        "reviewBody": "Great flight school. Keith Blackmon MEI really knows what he is doing and will train you to be a very skilled and confident multi-engine pilot. Excellent time with High Tide Aviation!"
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Kathi G."
        },
        "reviewBody": "The pilot was so patient and made me feel at ease at all times. Was very attentive to give the experience that was important to me! Thank you!"
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "George B."
        },
        "reviewBody": "Life is too short to fly commercial and be treated like dirt. Fly High Tide Aviation and set your own schedule. Be treated like an appreciated customer flown by folks who love what they do. When it works, it works."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "David R."
        },
        "reviewBody": "I took my daughter on a helicopter Discovery Flight. We both loved it. She flew the helicopter using all 3 controls. If we lived nearby, she would definitely take helicopter flight training from High Tide Aviation. Willis was a great instructor and encouragement to her! Now, I want to do it!"
      }
    ],
    "identifier": [
      {
        "@type": "PropertyValue",
        "name": "IATA Code",
        "value": "SUT"
      },
      {
        "@type": "PropertyValue",
        "name": "ICAO Code",
        "value": "KSUT"
      },
      {
        "@type": "PropertyValue",
        "name": "Airport Code",
        "value": "SUT"
      }
    ]
  }
</script>
