---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { IoPersonCircle } from "react-icons/io5";
import { FaComments } from "react-icons/fa6";
import { IoIosArrowRoundForward } from "react-icons/io";

const { imagePath, title, date } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<div class="shadow-md flex flex-col">
  <Image src={images[imagePath]()} alt={title} class="w-full" quality={10} />

  <div class="flex flex-col bg-white py-8 px-12 gap-3 justify-between h-full">
    <div class="flex flex-col gap-3">
      <p
        class="text-white bg-medium-blue py-2 uppercase font-bold text-xs px-4 rounded-full w-fit"
      >
        {date}
      </p>
      <div class="flex items-center gap-3">
        <div class="flex items-center gap-1">
          <IoPersonCircle className="text-mustard-yellow" />
          <p class="text-gray-500 text-sm">Author</p>
        </div>
        <div class="flex items-center gap-1">
          <FaComments className="text-mustard-yellow" />
          <p class="text-gray-500 text-sm">2 Comments</p>
        </div>
      </div>
      <h3 class="text-2xl font-semibold leading-tight text-dark-blue">
        {title}
      </h3>
    </div>
    <a class="flex gap-3 items-center self-end cursor-pointer group">
      <p class="text-gray-500 text-sm">Read More</p>
      <div
        class="p-3 bg-light-blue/15 rounded-full group-hover:bg-medium-blue duration-700"
      >
        <IoIosArrowRoundForward
          className="text-dark-blue size-6 group-hover:text-white duration-700"
        />
      </div>
    </a>
  </div>
</div>
