---
const { name, imagePath, description, ctaText, ctaLink } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const target = ctaLink.startsWith("http") ? "_blank" : "_self";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp,svg}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp,svg}"`,
  );
---

<div class="flex flex-col bg-white group overflow-hidden shadow-lg">
  <div class="flex items-center justify-center px-10 relative">
    <Image
      src={images[imagePath]()}
      alt={name}
      class="h-72 lg:h-96 object-contain group-hover:scale-95 duration-700 ease-in-out"
      quality={10}
    />
    <div
      class="absolute w-full h-full bg-dark-blue/40 opacity-0 left-0 top-0 group-hover:opacity-100 duration-700"
    >
    </div>
  </div>

  <div class="p-10 z-10 flex flex-col h-full justify-between">
    <div>
      <h2 class="text-dark-blue text-3xl font-medium mb-3">
        {name}
      </h2>
      <p class="text-gray-600 leading-loose">{description}</p>
    </div>
    <a href={ctaLink} target={target} class="btn-blue mt-5">
      {ctaText}
    </a>
  </div>
</div>
