---
import { Image } from "astro:assets";
const { image, title, ctaText, ctaLink, alt } = Astro.props;
---

<section>
  <div
    class="relative isolate pt-24 overflow-hidden h-[28rem] text-white flex items-center flex-col"
  >
    <Image
      src={image}
      alt={alt}
      class="-z-50 absolute min-w-[120rem] h-[28rem] -translate-y-24 object-cover object-[50%_40%]"
      widths={[240, 540, 720, 1080, 1440, 1980]}
      sizes={`(max-width: 240px) 240px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, (max-width: 1440px) 1440px, 1920px`}
    />
    <div class="absolute inset-0 bg-dark-blue/70 -z-40"></div>

    <div class="max-w-7xl flex w-full mx-auto h-full items-center py-14 z-10">
      <div class="max-w-5xl px-5 mx-auto">
        <h1
          class="text-5xl font-medium tracking-tight sm:text-5xl animate-fade-in text-center"
        >
          {title}
        </h1>
      </div>
    </div>
  </div>
  {
    ctaText && (
      <div class="flex justify-center -translate-y-7">
        <a href={ctaLink} class="btn-yellow">
          {ctaText}
        </a>
      </div>
    )
  }
</section>
