---
const { name, rentalPrice, imagePath, year } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<a
  href=`/about/fleet-rentals/${name}`
  class="flex cursor-pointer flex-col bg-white group relative overflow-hidden"
>
  <Image
    src={images[imagePath]()}
    alt={name}
    class="h-full object-cover group-hover:scale-105 duration-700 ease-in-out"
    quality={10}
  />
  <div
    class="absolute w-full h-full bg-dark-blue/15 -translate-x-[101%] group-hover:translate-x-0 duration-700"
  >
  </div>
  <div
    class="py-2 px-4 lg:py-6 lg:px-10 z-10 absolute bottom-0 left-0 bg-dark-blue/80 w-4/5"
  >
    <h2
      class="text-white text-2xl sm:text-3xl lg:text-5xl font-medium lg:mb-3 duration-700 uppercase"
    >
      {name}
    </h2>
    <div class="flex flex-col gap-0 sm:flex-row sm:gap-5">
      <div class="flex gap-2 text-sm sm:text-base">
        <p class="text-white">Year:</p>
        <p class="text-mustard-yellow">{year}</p>
      </div>
      <div class="flex gap-2 text-sm sm:text-base">
        <p class="text-white">Price:</p>
        <p class="text-mustard-yellow">{rentalPrice}</p>
      </div>
    </div>
  </div>
</a>
